<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
  <test thread-count="5" name="Test1">
  <parameter name="BrowserName" value="chrome"></parameter>
  <classes>
  <class name="testng.Parallel"></class>
  </classes>
  </test> <!-- Test -->
  
  
  
  <test thread-count="5" name="Test2">
  <parameter name="BrowserName" value="firefox"></parameter>
  <classes>
  <class name="testng.Parallel"></class>
  </classes>
  </test> <!-- Test -->
  
  <test thread-count="5" name="Test3">
  <parameter name="BrowserName" value="chrome"></parameter>
  <classes>
  <class name="testng.Parallel"></class>
  </classes>
  </test> <!-- Test -->
  
  
</suite> <!-- Suite -->
